<br />
<div class="booyah-box col-10 offset-1">
  <h1 class="text-center"><%= current_course.title %></h1>
  <h2><%= image_tag current_course.image, class: 'img-fluid' %></h2>
  <br />

  <div class="buttons-tab col-4">
    <%= link_to "Preview Student View", course_path(current_course), class: 'btn btn-info' %>
    
   
    	<%= link_to "Add a new section", new_instructor_course_section_path(current_course), class: 'btn btn-primary btn-lg' %>
    
   

  
    <% current_course.sections.each do |section| %>
      
        
        
	        <%= link_to 'New Lesson', new_instructor_section_lesson_path(section), class: 'btn btn-primary btn-lg', id: "special-button" %>

          <% #= section.title %>
  </div>
    <ul>
        <br />
        <ul>
        <br />
          <% section.lessons.each do |lesson| %>
            <li>

              <b><%= lesson.title %></b>
              -
              <%= lesson.subtitle %>
            </li>
          <% end %>
        </ul>
       
      </li>
    <% end %>
  </ul>
    
  
</div>